$text-color: #fff;
$bg-color: #3590f3;
$circle-color: $bg-color;
$circle-size: 7rem;

:global(.triangle-positions) {
  position: absolute;
  top: 35%;
  left: 35%;
}
:global(.color-blue) {
  color: #119DA4!important;
}
:global(.border-color-blue) {
  border-color: #119DA4!important;
}

#home {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  z-index: 3;
  cursor: none;
}

span {
  padding: 5rem;
  font-size: 5rem;
  font-weight: bold;
  line-height: 4rem;
  text-align: center;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  
  @media screen and (max-width: 768px) {
    padding: 5px;
    font-size: 3rem;
    line-height: 2.5rem;
  }

  &.filled-text {
    color: $text-color;
    width: 100%;
    height: 100vh;
    z-index: 2;

    .tagline {
      position: relative;
      top: 50%;
      text-align: center;
      font-family: "Clash Grotesk", sans-serif;
      font-size: 15.5rem;
      text-transform: uppercase;
      color: #47585c;
      // animate color change to blue
      transition: color 0.5s ease-in-out;
    }

    .title {
      font-family: "Supreme", "Clash Grotesk", sans-serif;
      position: absolute;
      left: 6.5rem;
      z-index: 3;
      font-size: 1.3rem;
      bottom: 9rem;
      letter-spacing: 1px;
      font-weight: 800;
    }

    .footer {
      font-family: "Supreme", "Clash Grotesk", sans-serif;
      position: absolute;
      z-index: 3;
      font-size: 1.3rem;
      letter-spacing: 1px;
      font-weight: 800;
      right: 8.5rem;
      top: 8.6rem;
    }

    .footer-description {
      font-family: 'Supreme', "Clash Grotesk", sans-serif;
      position: absolute;
      z-index: 3;
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      right: 8.5rem;
      top: 11.6rem;
      color: #47585c;
      transition: display 2s ease-in-out;
    }
  }

  &.outlined-text {
    color: transparent;
    width: 100%;
    height: 100vh;
    -webkit-text-stroke: 0.5px $text-color;
    z-index: 5;

    .tagline {
      position: relative;
      top: 50%;
      text-align: center;
      font-family: "Clash Grotesk", sans-serif;
      font-size: 15.5rem;
      text-transform: uppercase;
    }

    .title {
      font-family: "Supreme", "Clash Grotesk", sans-serif;
      position: absolute;
      left: 6.5rem;
      z-index: 3;
      font-size: 1.3rem;
      bottom: 9rem;
      letter-spacing: 1px;
      font-weight: 800;
    }

    .footer {
      font-family: "Supreme", "Clash Grotesk", sans-serif;
      position: absolute;
      z-index: 3;
      font-size: 1.3rem;
      letter-spacing: 1px;
      font-weight: 800;
      right: 8.5rem;
      top: 8.6rem;
    }

    .footer-description {
      font-family: 'Supreme', "Clash Grotesk", sans-serif;
      position: absolute;
      z-index: 3;
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      right: 8.5rem;
      top: 11.6rem;
      color: #47585c;
      transition: display 2s ease-in-out;
    }
  }

  .menu {
    top: 9em;
    width: -webkit-fill-available;
    z-index: 2;

    .menu-item {
      h6 {
        color: #414a4c;
        font-size: 32px;
        text-transform: uppercase;
        font-family: "Clash Grotesk", sans-serif;
      } 

      .menu-item-line {
        border: 6px solid #414a4c;
        width: 90px;
      }
    }
  }
}

.d-flex {
  display: flex;
}

* {
  ::selection {
    background: none;
  }
  
  font-family: sans-serif;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
}

#circle {
  height: $circle-size;
  width: $circle-size;
  border-radius: 50%;
  background: $circle-color;
  background: linear-gradient(105.49deg, #47585c, #c8d5bb);
  border: 10px double $text-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
  z-index: 4;
  transition: border-color  1s ease-in-out;
  // transition moving position
  transition: transform 2s ease-in-out;
}

// display styles
:global(.d-none) {
  display: none;
}

#redirect {
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  // background-color: #47585c;
  z-index: 8;
  transition: background-color 1s ease-in-out;
  top: 70%;
  left: 46.5%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  // transition rotate
  transition: transform 2s ease-in-out;
  background: linear-gradient(105.49deg, #119da4, #c8d5bb);

  // linear-gradient(105.49deg, #119DA4, #c8d5bb)
  .arrow {
    margin: 0;
    font-size: 4rem;
    color: #eee;
    margin-left: -1rem;
  }
}

:global(.gradient-green) {
  background: linear-gradient(105.49deg,
      rgb(17, 157, 164),
      rgb(200, 213, 187));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}